body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 36px;
    text-decoration: none;
    font-size: 25px;
}

li a:hover:not(.active) {
    border-radius: 15px;
    color:#566D5F  ;
}

li a:active {
    color: black;
}
.center{
    color: #333;
    text-align: center;
    font-size: 50px;
}
p.capitalize {
    text-transform: capitalize;
}
div.pic{ 
    border-radius: 35px;
    box-shadow: 2px 2px 4px black, 0 0 25px black, 0 0 5px black;
    width: 750px;
    height: 380px;
    border: 1px solid #333;
    margin: 25px;
    margin-left: 205px;
}

.shadows{
    color: green;
   text-shadow: 2px 2px 4px white, 0 0 25px white, 0 0 5px white;
}

.font-size{
     font-size: 40px;
     text-align: justify;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.ps{
    height: 580px;
}
div{
  padding: 24px 36px;
}
img {
    margin-top: -160px;
    float: right;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px black, 0 0 25px black, 0 0 5px black;
    border-radius: 4px;
    padding: 3px;
    height: 480px;
}
.text{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
     color: #333;
}
a{
    text-align: justify;
    letter-spacing: 1px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color:#566D5F  ;
}
a:hover{
  color: #373;
}
#block1{
    width: 280px;
    height: 300px;
    margin-top: 200px;
    margin-left: 30px;
}
#block2{
    width: 280px;
    height: 300px;
    margin-top: -400px;
    margin-left: 410px;
}
#block3{
    width: 280px;
    height: 300px;
    margin-top: -400px;
    margin-left: 850px;
}
.blocks-pic {
    border: 1px solid white;
    margin-bottom: 25px;
    width: 100%;
    height: 80%;
    border-radius: 50%;
}
.blocks-pic:hover {
    border-color: #f1f1f1;
}
div.container1 {
  background-image:url("img/prog.jpg");
  background-size: 100% 60%;
  background-repeat: no-repeat;
  color: #333;
  margin-top:50px;
  left: 57px;
  height: 350px;
  width: 300px;
  border-radius: 15px;
}
div.container2 {
background-image:url("img/web.jpg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  color: #333;
  margin-top:-398px;
  margin-left: 435px;
  left: 470px;
  height: 350px;
  width: 300px;
    border-radius: 15px;
}
div.container3 {
  background-image:url("img/sec.jpg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  color: #333;
  margin-top:-398px;
  margin-left: 867px;
  left: 883px;
  height: 350px;
  width: 300px;
    border-radius: 15px;
}
.cont-text{
  position: absolute;
  margin-top: 240px;
  padding: 7px 3px;
}
.text-center{
  text-align: center;
}
.bg-1 { 
      background-color: #ffffff; /* White */
      color: #555555;
    }
.container-fluid {
      padding-top: 20px;
      padding-bottom: 70px;
      height: 550px;
  }
  .contain{
    height: 900px;
  }
div.port1 {
  background-image:url("portfoli/first-web.png");
  
  background-size: 100% 80%;
  background-repeat: no-repeat;
  color: #333;
  margin-top:50px;
  left: 57px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
}
div.port2 {
background-image:url("portfoli/kargil.png");

  background-repeat: no-repeat;
  background-size: 100% 80%;
  color: #333;
  margin-top:-298px;
  margin-left: 435px;
  left: 470px;
  height: 250px;
  width: 300px;
    border-radius: 15px;
}
div.port3 {
  background-image:url("portfoli/stone.png");
  background-repeat: no-repeat;
 
  background-size: 100% 80%;
  color:#333;
  margin-top:-298px;
  margin-left: 867px;
  left: 883px;
  height: 250px;
  width: 300px;
    border-radius: 15px;
}
div.port4 {
  background-image:url("portfoli/RTU.png");
  
  background-size: 100% 80%;
  background-repeat: no-repeat;
  color: #333;
  margin-top:50px;
  left: 57px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
}
div.port5 {
background-image:url("portfoli/library.png");

  background-repeat: no-repeat;
  background-size: 100% 80%;
  color: #333;
  margin-top:-298px;
  margin-left: 435px;
  left: 470px;
  height: 250px;
  width: 300px;
    border-radius: 15px;
}
div.port6 {
  background-image:url("portfoli/fixins card.png");
  background-repeat: no-repeat;
 
  background-size: 100% 80%;
  color:#333;
  margin-top:-298px;
  margin-left: 867px;
  left: 883px;
  height: 250px;
  width: 300px;
    border-radius: 15px;
}
img.circle1{
  border-radius: 50%;
  width: 200px;
  height: 230px;
  margin-top: -250px;
  margin-right: 505px;
  border-width: 10px;
  box-shadow: 2px 2px 4px #333, 0 0 25px #333, 0 0 80px #333;
}
.lining{
  text-align:center; 
  color:#566D5F;
  text-shadow: 2px 2px 4px #333, 0 0 25px #333, 0 0 80px #333;
}
.left-text1{
  text-align: right;
  color: #566D5F;
  margin-top: 100px;
  width: 420px;
  height: 200px;

}
.right-text1{
  text-align:left;
  color: #566D5F;
  margin-left: 750px;
  width: 420px;
  height: 200px;
}
.left-text2{
  text-align: right;
  color: #566D5F;
  width: 420px;
  height: 200px;

}
img.circle2{
  border-radius: 50%;
  width: 200px;
  height: 230px;
  margin-top: -250px;
  margin-right: 505px;
  border-width: 10px;
  box-shadow: 2px 2px 4px #333, 0 0 25px #333, 0 0 80px #333;
}
img.circle3{
  border-radius: 50%;
  width: 200px;
  height: 230px;
  margin-top: -250px;
  margin-right: 505px;
  border-width: 10px;
  box-shadow: 2px 2px 4px #333, 0 0 25px #333, 0 0 80px #333;
}
img.circle4{
  border-radius: 50%;
  width: 200px;
  height: 230px;
  margin-top: 0px;
  margin-right: 505px;
  border-width: 10px;
  box-shadow: 2px 2px 4px #333, 0 0 25px #333, 0 0 80px #333;
}
.name{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #333;
    padding: 0px 15px;
    margin-top: 20px;
    margin-left: 50px;

}
.email{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #333;
    padding: 0px 15px;
}
.phone{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #333;
    padding: 0px 15px;
    margin-top: 38px;
    

}
.msg{
    width: 500px;
    height: 210px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #333;
    padding: 12px 15px;
    margin-top: -55px;
    margin-left: 630px;

}
.fix{
  margin-top: -174px;
   margin-left: 12px;

}
.submit{
  background-color: #333;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #333;
  margin-left: 500px;
  margin-top: 20px;

}
.submit:hover{
  box-shadow: 2px 2px 4px #566D5F, 0 0 10px #566D5F, 0 0 2px #566D5F;
}